[Unit]
Description=nebula restarter
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart nebula.service

[Install]
WantedBy=multi-user.target